@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* 
    Add a CSS ruleset to accomplish the following:
    - Use the 'Lato' font family at 18px throughout the body of the document
    - cover the of the document background with the "map-bg.jpg" image in the images directory. 
*/


nav {font-family: sans-serif;font-size: 10px;}
#main {width: 900px; margin: 10px auto;}

/* 
    Add a CSS ruleset targeting the restaurant name to accomplish the following:
        - Use the 'Supermercado One' font 
        - set the font size to 45px 
        - set the font color to #5d4037
*/


/* 
    Update the following ruleset (#menu) to accomplish the following:
        - Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. 
*/
#menu {
    columns: 400px 2;
    column-gap: 100px;
}

section {padding-bottom: 50px;}
h2 {margin: 0;}

/* 
    Add a CSS ruleset targeting targeting the headings of the menu (e.g. "Starters") to accomplish the following:
        - Show each of the section headings of the menu  in small caps
        - set the font color to #6d4c41
*/


/* 
    Add a CSS ruleset targeting the name of each menu item to accomplish the following:
        - Set the font size to 20px
        - Make the font bold
*/


dd {margin: 0 0 12px 0; display: flex;}
.details {order: 1;}

/* 
     Update the following ruleset (.price) to accomplish the following:
        - Show the price of each item in a large font
        - set the font color to 'firebrick'
*/
.price {
    order: 2;
    padding-left: 10px;
}

address {padding: 10px;}

/* 
    Add a CSS ruleset targeting the footer to accomplish the following:
        - Draw a 2px dashed rosybrown border
*/